@{
    ViewData["Title"] = "Support";
}

<div class="row bg-hype-secondary round-sm" style="width: 50%; margin: auto;">
    <div class="col-lg">
        
    </div>

    <div class="col-lg">
        <h1 class="text-white">Need Help?</h1>
        <p class="text-white">We're here to help</p>
        <input type="text" id="name" name="name" class="round-sm" style="height: 30px; width: 100%; margin-bottom: 10px;" placeholder="Name:" /> <br />
        <input type="text" id="email" name="email" class="round-sm" style="height: 30px; width: 100%; margin-bottom: 10px;" placeholder="Email:" /> <br />
        <input type="text" id="subject" name="subject" class="round-sm" style="height: 30px; width: 100%; margin-bottom: 10px;" placeholder="Subject:" /> <br />
        <textarea id="message" name="message" class="round-sm" placeholder="Message:" style="height: 10vh; width: 100%; margin-bottom: 10px; resize: none;"></textarea>
        <input type="submit" value="Submit" class="btn btn-primary round-sm" />
        
    </div>
</div>

<form action="">
    
</form>